<% if products.any? %>
  <div class="row sorting">
    <ul class="list-inline">
      <li><%= link_to_unless current_sorting?(:descend_by_updated_at), Spree.t(:newest), params.merge(sorting: :descend_by_updated_at) %></li>
      <li><%= link_to_unless current_sorting?(:ascend_by_master_price), Spree.t(:lowest_price), params.merge(sorting: :ascend_by_master_price) %></li>
      <li><%= link_to_unless current_sorting?(:descend_by_master_price), Spree.t(:highest_price), params.merge(sorting: :descend_by_master_price) %></li>
    </ul>
  </div>
<% end %>
